*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.idea
.scala_dependencies
.worksheet

# Minified frontend stuff
src/main/resources/static/js
src/main/resources/static/css
src/main/resources/static/fonts

# package lock
ui/package-lock.json
